<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Locations</key>
	<array>
		<string>ادم</string>
		<string>الانساب</string>
		<string>العوابي</string>
		<string>الحمراء</string>
		<string>الكامل و الوافي</string>
		<string>الحد</string>
		<string>الخوير</string>
		<string>عامرات</string>
		<string>ازيبة</string>
		<string>بهلا</string>
		<string>بركاء</string>
		<string>بدبد</string>
		<string>بدية</string>
		<string>بدية</string>
		<string>بوشر</string>
		<string>بريمي</string>
		<string>دارسيت</string>
		<string>دماء و الطائيين</string>
		<string>فلج القبائل</string>
		<string>غلاء</string>
		<string>الغبرة</string>
		<string>غبرة</string>
		<string>حمريا</string>
		<string>ابراء</string>
		<string>عبري</string>
		<string>ازكي</string>
		<string>جعلان بني بو علي</string>
		<string>جعلان بني بو حسن</string>
		<string>جيبرو</string>
		<string>خابورة</string>
		<string>خصب</string>
		<string>معبيلة</string>
		<string>مدحاء</string>
		<string>مدينة سلطان قابوس</string>
		<string>منح</string>
		<string>مصيرة</string>
		<string>موالح</string>
		<string>ميناء الفهل</string>
		<string>مصنعة</string>
		<string>مسقط</string>
		<string>مطرح</string>
		<string>نخل</string>
		<string>نزوى</string>
		<string>قريات</string>
		<string>قرم</string>
		<string>قرم</string>
		<string>ريسوت</string>
		<string>رسيل</string>
		<string>رسيل</string>
		<string>رستاق</string>
		<string>روي</string>
		<string>صحم</string>
		<string>صلالة</string>
		<string>سمائل</string>
		<string>سيب</string>
		<string>شناص</string>
		<string>سداب</string>
		<string>سناو</string>
		<string>صحار</string>
		<string>صور</string>
		<string>سويق</string>
		<string>وادي عدي</string>
		<string>وادي المعاول</string>
		<string>وادي كبير</string>
		<string>الوطية</string>
		<string>الحيل</string>
	</array>
</dict>
</plist>
